@media screen and (max-width: 1890px) {
    .container {
        padding: 0 50px;
    }

    #sing_in {
        padding-left: 80px;
    }

    .logo {
        padding-right: 0;
    }

    .story {
        padding: 50px;
        height: auto;
    }

    .story_content {
        padding-top: 129px;
        padding-bottom: 77px;
        justify-content: space-around;
    }

    .story_video {
        width: 584px;
        height: 337px;
        background-position: center;
        background-size: contain;
    }

    .itd_play {
        margin: 115px auto;
    }

    .footer_items {
        height: 354px;
        margin-left: 100px;
    }

    .product_content {
        padding-bottom: 142px;
    }

    .product_right {
        padding-left: 6px;
    }

    .back {
        width: 539px;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1260px) {
    .story_video {
        margin-top: 25px;
    }

    .product_content {
        height: auto;
    }

    .product_right {
        padding-top: 50px;
    }
}

@media screen and (max-width: 769px) {

    .container {
        padding: 0 10px;
    }

    .navbar_content {
        height: auto;
    }

    .story_content {
        padding: 0;
    }

    .story_video {
        width: 451px;
        height: 261px;
    }

    .back {
        width: auto;
        justify-content: center;
    }

    .product_right {
        width: auto;
    }

    .product_right p {
        width: auto;
    }
}

@media screen and (max-width: 600px) {

    .navbar_content p {
        padding: 8px;
    }

    .product_right {
        width: auto;
        padding-left: 0;
    }

    .steps h2 {
        width: auto;
    }
}

@media screen and (max-width: 480px) {

    .container {
        padding: 0px 10px;
    }

    #sign_in {
        padding-left: 5px;
    }

    .top {
        margin-top: 35px;
        max-height: 1050px;
    }

    .steps_info {
        width: auto;
    }

    .step_img {
        width: 290px;
        height: 342px;
    }

    .step_explication {
        text-align: center;
    }

    .step:nth-child(1) {
        margin-top: 0;
    }

    .step:nth-child(2) {
        margin-top: 0;
    }

    .step:nth-child(3) {
        margin-top: 35px;
    }

    .step_name {
        width: auto;
    }

    .story_text {
        width: 480px;
        text-align: center;
    }

    .story_video {
        width: 251px;
        height: 146px;
    }

    .itd_play {
        margin: 25px auto;
    }

    .product_content {
        text-align: center;
        padding: 30px 0;
    }

    .product_right p {
        width: auto;
    }

    .step_name {
        left: 28px;
    }

    .back img {
        width: 300px;
        height: 400px;
    }
}

@media screen and (max-width: 391px) {

    .navbar_content button {
        margin-bottom: 10px;
    }

    .step {
        width: 300px;
    }

    .card {
        left: -25px;
    }

    h2 {
        word-break: normal;
    }
}